@charset "GBK";
/* public style area */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Family", "Microsoft yahei";
  transition: 0.3s ease-out; }

ul {
  list-style: none; }

button {
  cursor: pointer; }

body {
  background-color: #fafafa; }

.container-fluid {
  padding-top: 15px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear-both {
  overflow: hidden; }

.d-flex {
  display: flex; }
  .d-flex-between {
    justify-content: space-between; }

.fs-20 {
  font-size: 20px; }

.input {
  border-radius: 2px;
  width: 100%;
  border: 1px solid #cccccc;
  padding-left: 5px; }

.btn {
  background-color: #25b6ed;
  color: white;
  border: none; }

h1, h2, h3, h4, h5, h6 {
  font-family: "microsoft yahei light"; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

.box-block {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 20px;
  border-radius: 2px; }

.btn-disabled {
  background-color: #c5c5c5; }

.hidden {
  visibility: hidden;
  opacity: 0; }

.bgdc-green {
  background-color: rgba(132, 172, 69, 0.8) !important; }
  .bgdc-green:hover {
    background-color: #84ac45 !important; }

.bgdc-red {
  background-color: rgba(237, 98, 71, 0.8) !important; }
  .bgdc-red:hover {
    background-color: #ed6247 !important; }

.bgdc-orange {
  background-color: rgba(251, 177, 80, 0.8) !important; }
  .bgdc-orange:hover {
    background-color: #fbb150 !important; }

.bgdc-dark-blue {
  background-color: rgba(96, 125, 139, 0.8) !important; }
  .bgdc-dark-blue:hover {
    background-color: #607d8b !important; }

.text-remove, .word .remove {
  color: #e81c18; }

.text-gray {
  color: #777777; }

.word {
  border: 1px solid #dddddd;
  padding: 6px 10px;
  margin: 0 18px 18px 0;
  border-radius: 4px;
  position: relative; }
  .word .remove {
    position: absolute;
    right: -5px;
    top: -6px; }

.back {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 20px;
  margin: auto;
  color: white;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 3px; }
  ::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px; }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent; }

.add-btn {
  background-color: transparent;
  border: 2px dotted #cccccc;
  color: #333333;
  padding: 6px 20px;
  transition: 0.15s ease-out-in; }
  .add-btn:hover, .add-btn:active {
    background-color: #25b6ed;
    color: white;
    border: 2px solid transparent; }

.choose-panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50%;
  background-color: whitesmoke;
  border-top: 1px solid #cccccc;
  overflow: auto;
  z-index: 3; }
  .choose-panel-in {
    margin-top: 0; }
  .choose-panel .add {
    padding: 6px 20px; }

.fadeInUp-enter, .fadeInUp-leave-to {
  margin-top: 400px; }

.transition-opacity-enter-active {
  transition: all 0.3s ease; }
.transition-opacity-leave-active {
  transition: 0.3s ease-out; }
.transition-opacity-enter, .transition-opacity-leave-to {
  opacity: 0; }

.panel-active .fa-edit {
  color: white; }
.panel-active .panel-heading {
  background-color: #82cce8;
  color: white; }

.words {
  padding: 20px 10px;
  border: 1px solid #dadada;
  background-color: white;
  border-radius: 3px; }

/* main-header */
.main-header {
  color: white;
  height: 50px;
  background-color: #25b6ed;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative; }
  .main-header .title {
    display: inline-block;
    line-height: 50px;
    margin: 0;
    font-size: 20px;
    font-weight: bold; }

.user-menu {
  position: absolute;
  margin-right: 15px;
  text-align: left;
  top: 0;
  right: 0; }

.menu-btn {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 30px;
  line-height: 50px;
  padding: 0 15px; }
  .menu-btn:hover {
    background-color: #0875a7; }

.menu-btn-active {
  background-color: #0875a7; }

.menu-list {
  position: absolute;
  width: 190px;
  right: 0;
  visibility: hidden;
  opacity: 0; }
  .menu-list li {
    background-color: #037fb7;
    padding: 15px 20px;
    border-bottom: 1px solid #015c86;
    font-size: 14px; }
    .menu-list li:hover {
      background-color: #09658e; }
    .menu-list li:last-child {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px; }

/* fun-menu */
.fun-menu .box {
  text-align: center;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: rgba(255, 105, 123, 0.8);
  color: white;
  width: 100%;
  font-family: "迷你简稚艺"; }

.box.box-big {
  padding: 25px;
  font-size: 30px; }
.box.box-medium {
  padding: 20px;
  font-size: 25px; }
.box.box-small {
  padding: 15px;
  font-size: 20px; }

.fun-menu ul {
  display: flex;
  flex-wrap: wrap;
  padding: 15px; }
.fun-menu li {
  display: flex;
  margin-bottom: 15px;
  width: 100%; }

/* enter style area */
.enter {
  margin: 20px;
  display: flex; }
  .enter .input {
    height: 40px; }
  .enter .add {
    width: 100px; }

/* setting style area */
.setting {
  margin: 0 20px; }

.setting-disabled {
  background-color: #fbf8f8; }
  .setting-disabled .row-group label {
    cursor: no-drop; }

.setting h3 {
  margin-bottom: 20px; }

.row-group {
  display: flex;
  margin: 0 0 20px;
  font-size: 14px; }
  .row-group .title {
    display: inline-block;
    margin: auto 15px auto 0;
    flex: 0 0 60px;
    text-align: right; }
  .row-group .options {
    margin-right: 30px;
    color: #25b6ed;
    cursor: pointer;
    padding: 7px 20px;
    border: 1px solid #dfdfdf;
    border-radius: 6px; }

.options.options-checked {
  background-color: #25b6ed;
  color: white;
  border: 1px solid transparent; }

.switch {
  width: 45px;
  height: 20px;
  background: lightgray;
  display: inline-block;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  border: none;
  outline: none; }
  .switch:before {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 0;
    transition: all 0.2s ease-out; }
  .switch:after {
    content: "";
    display: inline-block;
    width: 21px;
    height: 21px;
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: 0;
    transition: all 0.2s ease-out;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12); }
  .switch:before {
    background: lightgray;
    transform: scale3d(0, 0, 1); }
  .switch:active:before {
    transform: scale3d(3, 3, 1);
    opacity: 0; }

.switch-checked {
  background-color: #4fd366; }
  .switch-checked:before, .switch-checked:after {
    left: 25px; }

/* list style area */
.list {
  margin: 20px; }

.list-block h4 {
  display: inline-block;
  font-weight: 500; }
.list-block time {
  font-size: 13px;
  margin-left: 20px;
  color: #c1c1c1; }

.list-title {
  margin-bottom: 30px; }

.list-content {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.list-word {
  counter-reset: sectioncounter; }
  .list-word label {
    font-size: 14px;
    margin: 0 45px 40px 0;
    position: relative;
    color: #333333;
    display: inline-block; }
    .list-word label:before {
      content: counter(sectioncounter) ".";
      counter-increment: sectioncounter;
      margin-right: 5px;
      font-size: 12px; }

.list-content .play {
  padding: 10px;
  flex: 0 0 90px;
  border-radius: 2px; }

.bounce-enter-active, .bounce-leave-active, .bounceDown-enter-active, .bounceDown-leave-active, .bounceIn, .bounceInDown, .bounceInLeft, .bounceInRight, .bounceInUp, .bounceLeft-enter-active, .bounceLeft-leave-active, .bounceOut, .bounceOutDown, .bounceOutLeft, .bounceOutRight, .bounceOutUp, .bounceRight-enter-active, .bounceRight-leave-active, .bounceUp-enter-active, .bounceUp-leave-active, .fade-enter-active, .fade-leave-active, .fadeDown-enter-active, .fadeDown-leave-active, .fadeDownBig-enter-active, .fadeDownBig-leave-active, .fadeIn, .fadeInDown, .fadeInDownBig, .fadeInLeft, .fadeInLeftBig, .fadeInRight, .fadeInRightBig, .fadeInUp, .fadeInUpBig, .fadeLeft-enter-active, .fadeLeft-leave-active, .fadeLeftBig-enter-active, .fadeLeftBig-leave-active, .fadeOut, .fadeOutDown, .fadeOutDownBig, .fadeOutLeft, .fadeOutLeftBig, .fadeOutRight, .fadeOutRightBig, .fadeOutUp, .fadeOutUpBig, .fadeRight-enter-active, .fadeRight-leave-active, .fadeRightBig-enter-active, .fadeRightBig-leave-active, .fadeUp-enter-active, .fadeUp-leave-active, .fadeUpBig-enter-active, .fadeUpBig-leave-active, .rotateDownLeft-enter-active, .rotateDownLeft-leave-active, .rotateDownRight-enter-active, .rotateDownRight-leave-active, .rotateInDownLeft, .rotateInDownRight, .rotateInUpLeft, .rotateInUpRight, .rotateOutDownLeft, .rotateOutDownRight, .rotateOutUpLeft, .rotateOutUpRight, .rotateUpLeft-enter-active, .rotateUpLeft-leave-active, .rotateUpRight-enter-active, .rotateUpRight-leave-active, .slide-enter-active, .slide-leave-active, .slideDown-enter-active, .slideDown-leave-active, .slideIn, .slideInDown, .slideInLeft, .slideInRight, .slideInUp, .slideLeft-enter-active, .slideLeft-leave-active, .slideOut, .slideOutDown, .slideOutLeft, .slideOutRight, .slideOutUp, .slideRight-enter-active, .slideRight-leave-active, .slideUp-enter-active, .slideUp-leave-active, .zoom-enter-active, .zoom-leave-active, .zoomDown-enter-active, .zoomDown-leave-active, .zoomIn, .zoomInDown, .zoomInLeft, .zoomInRight, .zoomInUp, .zoomLeft-enter-active, .zoomLeft-leave-active, .zoomOut, .zoomOutDown, .zoomOutLeft, .zoomOutRight, .zoomOutUp, .zoomRight-enter-active, .zoomRight-leave-active, .zoomUp-enter-active, .zoomUp-leave-active {
  animation-duration: 1s;
  animation-fill-mode: both; }

@keyframes bounceIn {
  20%,40%,60%,80%,from,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }

  20% {
    transform: scale3d(1.1, 1.1, 1.1); }

  40% {
    transform: scale3d(0.9, 0.9, 0.9); }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03); }

  80% {
    transform: scale3d(0.97, 0.97, 0.97); }

  to {
    opacity: 1;
    transform: scale3d(1, 1, 1); } }
@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9); }

  50%,55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1); }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); } }
@keyframes bounceInDown {
  60%,75%,90%,from,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0); }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }

  75% {
    transform: translate3d(0, -10px, 0); }

  90% {
    transform: translate3d(0, 5px, 0); }

  to {
    transform: none; } }
@keyframes bounceOutDown {
  20% {
    transform: translate3d(0, 10px, 0); }

  40%,45% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
@keyframes bounceInLeft {
  60%,75%,90%,from,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0); }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0); }

  75% {
    transform: translate3d(-10px, 0, 0); }

  90% {
    transform: translate3d(5px, 0, 0); }

  to {
    transform: none; } }
@keyframes bounceOutLeft {
  20% {
    opacity: 1;
    transform: translate3d(20px, 0, 0); }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
@keyframes bounceInRight {
  60%,75%,90%,from,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0); }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0); }

  75% {
    transform: translate3d(10px, 0, 0); }

  90% {
    transform: translate3d(-5px, 0, 0); }

  to {
    transform: none; } }
@keyframes bounceOutRight {
  20% {
    opacity: 1;
    transform: translate3d(-20px, 0, 0); }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
@keyframes bounceInUp {
  60%,75%,90%,from,to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }

  from {
    opacity: 0;
    transform: translate3d(0, 3000px, 0); }

  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0); }

  75% {
    transform: translate3d(0, 10px, 0); }

  90% {
    transform: translate3d(0, -5px, 0); }

  to {
    transform: translate3d(0, 0, 0); } }
@keyframes bounceOutUp {
  20% {
    transform: translate3d(0, -10px, 0); }

  40%,45% {
    opacity: 1;
    transform: translate3d(0, 20px, 0); }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); } }
.bounce-enter-active, .bounceIn {
  animation-name: bounceIn; }

.bounce-leave-active, .bounceOut {
  animation-name: bounceOut; }

.bounceInUp, .bounceUp-enter-active {
  animation-name: bounceInUp; }

.bounceOutUp, .bounceUp-leave-active {
  animation-name: bounceOutUp; }

.bounceInRight, .bounceRight-enter-active {
  animation-name: bounceInRight; }

.bounceOutRight, .bounceRight-leave-active {
  animation-name: bounceOutRight; }

.bounceInLeft, .bounceLeft-enter-active {
  animation-name: bounceInLeft; }

.bounceLeft-leave-active, .bounceOutLeft {
  animation-name: bounceOutLeft; }

.bounceDown-enter-active, .bounceInDown {
  animation-name: bounceInDown; }

.bounceDown-leave-active, .bounceOutDown {
  animation-name: bounceOutDown; }

@keyframes fadeIn {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadeOut {
  from {
    opacity: 1; }

  to {
    opacity: 0; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutDown {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0); } }
@keyframes fadeInDownBig {
  from {
    opacity: 0;
    transform: translate3d(0, -2000px, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutDownBig {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); } }
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutLeft {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(-100%, 0, 0); } }
@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutLeftBig {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0); } }
@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutRight {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0); } }
@keyframes fadeInRightBig {
  from {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutRightBig {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(2000px, 0, 0); } }
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeInUpBig {
  from {
    opacity: 0;
    transform: translate3d(0, 2000px, 0); }

  to {
    opacity: 1;
    transform: none; } }
@keyframes fadeOutUp {
  from {
    opacity: 1; }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0); } }
.fade-enter-active, .fadeIn {
  animation-name: fadeIn; }

.fade-leave-active, .fadeOut {
  animation-name: fadeOut; }

.fadeInUpBig, .fadeUpBig-enter-active {
  animation-name: fadeInUpBig; }

.fadeOutUpBig, .fadeUpBig-leave-active {
  animation-name: fadeOutUpBig; }

.fadeInUp, .fadeUp-enter-active {
  animation-name: fadeInUp; }

.fadeOutUp, .fadeUp-leave-active {
  animation-name: fadeOutUp; }

.fadeInRightBig, .fadeRightBig-enter-active {
  animation-name: fadeInRightBig; }

.fadeOutRightBig, .fadeRightBig-leave-active {
  animation-name: fadeOutRightBig; }

.fadeInRight, .fadeRight-enter-active {
  animation-name: fadeInRight; }

.fadeOutRight, .fadeRight-leave-active {
  animation-name: fadeOutRight; }

.fadeInLeftBig, .fadeLeftBig-enter-active {
  animation-name: fadeInLeftBig; }

.fadeLeftBig-leave-active, .fadeOutLeftBig {
  animation-name: fadeOutLeftBig; }

.fadeInLeft, .fadeLeft-enter-active {
  animation-name: fadeInLeft; }

.fadeLeft-leave-active, .fadeOutLeft {
  animation-name: fadeOutLeft; }

.fadeDownBig-enter-active, .fadeInDownBig {
  animation-name: fadeInDownBig; }

.fadeDownBig-leave-active, .fadeOutDownBig {
  animation-name: fadeOutDownBig; }

.fadeDown-enter-active, .fadeInDown {
  animation-name: fadeInDown; }

.fadeDown-leave-active, .fadeOutDown {
  animation-name: fadeOutDown; }

@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0; }

  to {
    transform-origin: center;
    transform: none;
    opacity: 1; } }
@keyframes rotateOut {
  from {
    transform-origin: center;
    opacity: 1; }

  to {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, 200deg);
    opacity: 0; } }
@keyframes rotateInDownLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
@keyframes rotateOutDownLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; } }
@keyframes rotateInDownRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
@keyframes rotateOutDownRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateInUpLeft {
  from {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0; }

  to {
    transform-origin: left bottom;
    transform: none;
    opacity: 1; } }
@keyframes rotateOutUpLeft {
  from {
    transform-origin: left bottom;
    opacity: 1; }

  to {
    transform-origin: left bottom;
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0; } }
@keyframes rotateInUpRight {
  from {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, -90deg);
    opacity: 0; }

  to {
    transform-origin: right bottom;
    transform: none;
    opacity: 1; } }
@keyframes rotateOutUpRight {
  from {
    transform-origin: right bottom;
    opacity: 1; }

  to {
    transform-origin: right bottom;
    transform: rotate3d(0, 0, 1, 90deg);
    opacity: 0; } }
.rotate-enter-active, .rotate-leave-active, .rotateIn, .rotateOut {
  animation-duration: 1s;
  animation-fill-mode: both; }

.rotate-enter-active, .rotateIn {
  animation-name: rotateIn; }

.rotate-leave-active, .rotateOut {
  animation-name: rotateOut; }

.rotateInUpRight, .rotateUpRight-enter-active {
  animation-name: rotateInUpRight; }

.rotateOutUpRight, .rotateUpRight-leave-active {
  animation-name: rotateOutUpRight; }

.rotateInUpLeft, .rotateUpLeft-enter-active {
  animation-name: rotateInUpLeft; }

.rotateOutUpLeft, .rotateUpLeft-leave-active {
  animation-name: rotateOutUpLeft; }

.rotateDownRight-enter-active, .rotateInDownRight {
  animation-name: rotateInDownRight; }

.rotateDownRight-leave-active, .rotateOutDownRight {
  animation-name: rotateOutDownRight; }

.rotateDownLeft-enter-active, .rotateInDownLeft {
  animation-name: rotateInDownLeft; }

.rotateDownLeft-leave-active, .rotateOutDownLeft {
  animation-name: rotateOutDownLeft; }

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible; }

  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0); }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0); } }
@keyframes slideInLeft {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }

  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }

  to {
    visibility: hidden;
    transform: translate3d(-100%, 0, 0); } }
@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible; }

  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutRight {
  from {
    transform: translate3d(0, 0, 0); }

  to {
    visibility: hidden;
    transform: translate3d(100%, 0, 0); } }
@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible; }

  to {
    transform: translate3d(0, 0, 0); } }
@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0); }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0); } }
.slide-enter-active, .slideIn {
  animation-name: slideIn; }

.slide-leave-active, .slideOut {
  animation-name: slideOut; }

.slideInUp, .slideUp-enter-active {
  animation-name: slideInUp; }

.slideOutUp, .slideUp-leave-active {
  animation-name: slideOutUp; }

.slideInRight, .slideRight-enter-active {
  animation-name: slideInRight; }

.slideOutRight, .slideRight-leave-active {
  animation-name: slideOutRight; }

.slideInLeft, .slideLeft-enter-active {
  animation-name: slideInLeft; }

.slideLeft-leave-active, .slideOutLeft {
  animation-name: slideOutLeft; }

.slideDown-enter-active, .slideInDown {
  animation-name: slideInDown; }

.slideDown-leave-active, .slideOutDown {
  animation-name: slideOutDown; }

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }

  50% {
    opacity: 1; } }
@keyframes zoomOut {
  from {
    opacity: 1; }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3); }

  to {
    opacity: 0; } }
@keyframes zoomInDown {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutDown {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomInLeft {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(-1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(42px, 0, 0); }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(-2000px, 0, 0);
    transform-origin: left center; } }
@keyframes zoomInRight {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(1000px, 0, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-10px, 0, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutRight {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(-42px, 0, 0); }

  to {
    opacity: 0;
    transform: scale(0.1) translate3d(2000px, 0, 0);
    transform-origin: right center; } }
@keyframes zoomInUp {
  from {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 1000px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  60% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
@keyframes zoomOutUp {
  40% {
    opacity: 1;
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }

  to {
    opacity: 0;
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -2000px, 0);
    transform-origin: center bottom;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1); } }
.zoom-enter-active, .zoomIn {
  animation-name: zoomIn; }

.zoom-leave-active, .zoomOut {
  animation-name: zoomOut; }

.zoomInUp, .zoomUp-enter-active {
  animation-name: zoomInUp; }

.zoomOutUp, .zoomUp-leave-active {
  animation-name: zoomOutUp; }

.zoomInRight, .zoomRight-enter-active {
  animation-name: zoomInRight; }

.zoomOutRight, .zoomRight-leave-active {
  animation-name: zoomOutRight; }

.zoomInLeft, .zoomLeft-enter-active {
  animation-name: zoomInLeft; }

.zoomLeft-leave-active, .zoomOutLeft {
  animation-name: zoomOutLeft; }

.zoomDown-enter-active, .zoomInDown {
  animation-name: zoomInDown; }

.zoomDown-leave-active, .zoomOutDown {
  animation-name: zoomOutDown; }
