/* public style area */
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	font-family: "Lucida Family","Microsoft yahei";
	transition:.3s ease-out;
}
ul{
	list-style:none;
}
button{
	cursor:pointer;
}
body{
	background-color:#f2f2f2;
}
.pull-left{
	float:left;
}
.pull-right{
	float:right;
}
.input{
	border-radius:2px;
	width:100%;
	border:1px solid #ccc;
	padding-left:5px;
}
.btn{
	background-color:#03a9f4;
	color:#fff;
	border:none;
}


/* main-header */
.main-header{
	color:#fff;
	height:60px;
	background-color:#03a9f4;
	box-shadow:0 2px 3px rgba(0,0,0,.2);
}
.user-menu{
	position:relative;
	margin-right: 15px;
}
.menu-btn{
	background-color:transparent;
	border:none;
	outline:none;
	color:#fff;
	font-size:30px;
	line-height:60px;
	padding:0 15px;
}
.menu-btn:hover,.menu-btn-active{
	background-color:#0875a7;
}
.menu-list{
	position:absolute;
	width:190px;
	right:0;
	visibility: hidden;
	opacity:0;
}
.menu-list li{
	background-color:#037fb7;
	padding: 15px 20px;
	border-bottom: 1px solid #015c86;
	font-size: 14px;
}
.menu-list li:hover{
	background-color:#09658e;
}
.menu-list li:last-child{
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

/* enter style area */
.enter{
	margin:20px;
	display:flex;
}
.enter .input{
	height:40px;
}
.enter .add{
	width:100px;
}

/* list style area */
.list{
	margin:20px;
}
.list-block{
	background-color:#fff;
	box-shadow:0 2px 5px rgba(0,0,0,.2);
	margin-bottom:30px;
	padding:20px;
	border-radius:2px;
}
.list-block h4{
	display:inline-block;
	font-weight:500;
}
.list-block time{
	font-size:13px;
	margin-left:20px;
    color: #c1c1c1;
}
.list-title {
    margin-bottom: 30px;
}
.list-content{
	display:flex;
	justify-content: space-between;
	align-items: center;
}
.list-word{
	counter-reset: sectioncounter;
}
.list-word label {
    padding: 7px 20px;
    display: inline-block;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    font-size: 14px;
    margin: 0 15px 15px 0;
    position: relative;
}
.list-word label:before{
	content: counter(sectioncounter);
	counter-increment: sectioncounter;
}
.list-content .play{
	padding:10px;
	flex: 1 0 90px;
	border-radius: 2px;
}